html {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: grey;
}

main {
    display: flex;
    background-color: rgb(196, 205, 169); 
    margin: 2em;
    padding: 1em;
    border-radius: 25px;
    min-width: min-content;
}

main > div {
    display: grid;
    grid-template-areas: 'sidebar reviews rating analysis'
    'sidebar visitors visitors visitors'
    'sidebar visitors visitors visitors';
    grid-template-columns: 150px;
    height: 100%;
    width: 100%;
    grid-gap: 1em;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid rgb(7, 116, 112);
}

.sidebar p:hover {
    font-size: large;
}

.reviews, .rating, .analysis, .visitors {
    padding: 1em;
    border-radius: 25px;
    border: 1px solid rgba(122, 161, 16, 0.934);
}

.reviews {
    grid-area: reviews;
    background-color: #b9ce88;
   
}

.rating {
    grid-area: rating;
    background-color: #b9ce88;
   
}

.analysis {
    grid-area: analysis;
    background-color: #b9ce88;
   
}

.analysis > h2 {
    display: flex;
    justify-content: center;
}

.visitors {
    grid-area: visitors;
    border: 2px solid #480652;
    background-color: #b080b8;
}

.visitorGraph {
    height: 200px;
    width: 100%;
    border: 2px solid whitesmoke;
    border-radius:25px;
    background-color: #89bbb8;
}